<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/todo.css">
</head>

<body>
    <div class="container">
        <h1>Hi Yash! Here's Your Todo List</h1>
        <div class="add-task">
            <form action="/todolist/create-task" method="POST">
                <input type="text" placeholder="Add a task" name="taskDescription" required>

                <select name="category">
                    <option value="Work" selected>Work</option>
                    <option value="School">School</option>
                    <option value="Family">Family</option>
                    <option value="Friends">Friends</option>
                    <option value="Personal">Personal</option>
                </select>

                <select name="priority">
                    <option value="Regular" selected>Regular</option>
                    <option value="High">High</option>
                    <option value="Critical">Critical</option>
                </select>
                
                <label for="datepicker">Select the due date:</label>
                <input type="date" id="datepicker" name="datepicker" required>

                <button type="submit">Add Tasks</button>
            </form>
            <button type="delete" id="delete-multiple-tasks" onclick="deleteChecked()">Delete Tasks</button>
        </div>
        <br>
        <div id="tasks">
            <%for(let i of todotasks){%>
            <div class="todo-item">
                <input type="checkbox" name="deletecheck" id="delete-check" uid="<%=i._id%>" onchange="checkedOrNot('<%=i._id%>')">
                <label id="description" uid="<%=i._id%>"><%= i.description%></label>
                <label id="category"><%= i.category%></label>
                <label id="priorities"><%= i.priority%></label>
                <label id="completed"><%= i.completed%></label>
                <label id="date" uid="<%=i._id%>"><%= i.date%></label>
                <a href="/todolist/delete-task?id=<%= i._id %>"><i class="fa-sharp fa-solid fa-trash"></i></a>
            </div>
            <%}%>
        </div>   
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/todo.js"></script>
</body>

</html>
